---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import AnarenSamples from "../components/AnarenSamples.astro";
---

<Layout title="Anaren">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
      <span class="text-gradient"
        >Site motaphoto</span>
    </h1>

    <AnarenSamples />
    
    <p class="lead text-white">
      The space and defense company is based in East Syracuse, New York. I was
        hired to assist with their website redesign.</p>
        <br>
        <p class="text-white">J'ai réalisé un projet complet sous WordPress, comprenant un site entièrement personnalisé avec un thème créé de A à Z. En plus de cela, j'ai développé un plugin sur mesure permettant l'importation de photos, intégrant des champs personnalisés avancés (ACF).</p>

  

    <BackButton />
</div>
</Layout>

<style>
</style>

