---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import Anaren2Samples from "../components/Anaren2Samples.astro";
---

<Layout title="Anaren">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
      <span class="text-gradient"
        >Site Sampl vintage</span>
    </h1>

    <Anaren2Samples />
    
    <p class="lead text-white">
        Site créé entièrement de A à Z avec WordPress, utilisant uniquement Elementor sans recours à du CSS ni à du code externe.</p>
        <br>
        <p class="text-white">J'ai réalisé un projet complet sous WordPress, comprenant un site entièrement personnalisé avec un thème enfant).</p>

  

    <BackButton />
</div>
</Layout>

<style>
</style>
